# =============================================
# API ENVIRONMENT VARIABLES
# =============================================

APP_URL=http://localhost:5173

DATABASE_URL="postgresql://postgres:postgres@localhost:54328/db-clo-polibatam?schema=public"
REDIS_URL=redis://localhost:63798

API_VERSION=api/v1
API_PORT=4001

API_POLIBATAM_URL="https://sid.polibatam.ac.id/api/v1.php"

JWT_SECRET=ca15ea787cbba167897603f9c0ec7b96
JWT_EXPIRES_IN=7d